*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f4f6f9;
  color:#333;
}

header{
  background:#0d47a1;
  color:white;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
}

header h1{
  font-size:22px;
}

nav a{
  color:white;
  margin-left:18px;
  text-decoration:none;
  font-weight:500;
}

nav a:hover{
  text-decoration:underline;
}

.hero{
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url('sekolah.jpg');
  background-size:cover;
  background-position:center;
  color:white;
  padding:120px 20px;
  text-align:center;
}

.hero h2{
  font-size:36px;
  margin-bottom:10px;
}

.container{
  width:85%;
  margin:40px auto;
  background:white;
  padding:35px;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
  animation:fadeUp 1s ease;
}

.container h2{
  color:#0d47a1;
  margin-bottom:15px;
}

.container p{
  margin-bottom:15px;
  line-height:1.8;
  text-align:justify;
}

.container ul{
  margin-left:20px;
  line-height:1.8;
}

table{
  width:100%;
  border-collapse:collapse;
  margin-top:15px;
}

table td, table th{
  border:1px solid #ccc;
  padding:10px;
}

footer{
  background:#0d47a1;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:60px;
}

@keyframes fadeUp{
  from{opacity:0; transform:translateY(40px)}
  to{opacity:1; transform:translateY(0)}
}
